/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600&subset=latin,latin-ext);

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* typography */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background: #f4f8fb;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

p {
    margin: 0;
    font-weight: 400;
}

.sub-title {
    font-size: 34px;

}

.sub-third {
    font-size: 25px;
}

.sub-fourth {

}

.content-m {
    font-size: 12px;
}

.content-l {
    font-size: 14px;
}

.wrapper {
    width: 995px;
    margin: 0 auto;
}

/* first screen */

.mast-header {
    height: 113.7vh;
    background: url(../img/building-background.png) 50% 50% no-repeat;
    background-size: cover;
}

.logo {
    float: left;
    padding: 41px 0px 0 5.3vw;
}

.inputs {
    float: right;
    padding: 50px 3.6vw 0 0
}

.tools {
    float: left;
    color: #868e99;
}

.tools .icon-search {
    font-size: 13px;
    line-height: 37px;
}
.tools input {
    border: none;
    border-radius: 20px;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.search {
    width: 175px;
    height: 37px;
    padding: 0px 20px 0 24px;
    font-size: 12px;
    background-color: #343c48;
}

.search-btn {
    position: absolute;
    padding: 1px 0;
    right: 12px;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
}

.buy {
    width: 97px;
    height: 37px;
    margin-right: 9px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    background-color: #835fa8;
}

.hamburger {
    padding-top: 7px;
    float: left;
}

.menu {
    font-size: 17px;
    border: none;
    background-color: transparent;
}
.title {
    padding: 24.5vh 0 0 40.3vw;
    clear: both;
}

.title h1 {
    width: 533px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 76px;
}

.title p {
    width: 476px;
    padding: 20px 0 0 3px;
    font-size: 15px;
    letter-spacing: 0.09px;
    line-height: 25px;
}

/* hero container */

.hero {
    position: relative;
    height: 424px;
    background: #835fa8;
}

.hero-cont {
    padding: 79px 0 0;
}

.hero .content-l {
    width: 379px;
    padding: 13px 2px 0px;
    line-height: 22px;
}

.see-more {
    display: block;
    padding: 12px;
    margin-top: 27px;
    width: 116px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    background-color: #3dd2ae;
    border-radius: 18px;
}

.phones {
    position: absolute;
    top: -69px;
    left: 43.7%;
    height: 494px;
}
.smaller-phone {

    position: absolute;
    height: 227px;
    width: 228px;
    background-image: url(../img/smaller-phone.png);
    background-repeat: no-repeat;
    bottom: 0;
}

.bigger-phone {
    position: absolute;
    bottom: 0;
    left: 208px;
    width: 342px;
    height: 104.3%;
    background-image: url(../img/bigger-phone.png);
    background-repeat: no-repeat;
}

/* features container */

.features {
    min-height: 450px;
    background: #f4f8fb;
}

.features-wrap {
    padding-top: 65px;
}

.feature {
    display: inline-block;
    width: 328px;
}

.feature:nth-of-type(3) {
    margin-left: -6px;
}

.feature .sub-third {
    letter-spacing: 0.2px;
    color: #2b303b;
}

.feature .sub-fourth {
    width: 290px;
    margin-top: 23px;
    padding-left: 3px;
    letter-spacing: 0.4px;
    line-height: 25px;
    color: #696f7c;
}

.feature .content-m {
    width: 296px;
    margin-top: 25px;
    padding-left: 2px;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #44484f;
}

.feature .see-more {
    margin-left: 4px;
}

/* for-humans container */

.for-humans {
    position: relative;
    min-height: 513px;
    background-color: #232831;

}
.for-humans .shape {
    position: absolute;
    top: -27px;
    left: 45%;
    height: 53px;
    width: 101px;
    background-image: url(../img/screen2-shape.png);
}

.for-humans .sub-title {
    width: 360px;
    padding-top: 78px;
    margin: 0 auto;
}

.for-humans .content-l {
    padding-top: 23px;
    text-align: center;
    line-height: 25px;
}
.design-btn {
    width: 962px;
    padding-top: 75px;
    background: transparent;
    border: none;
}

/* services container */

.services {
    min-height: 451px;
    background-color: #2b303b;
}

.serv-wrap {
    padding: 64px 0 0 0;
    margin: 0;
    list-style-type: none;
    counter-reset: section;
}

.service {
    float: left;
    width: 232px;
    margin-left: 15px;
}

.service:nth-of-type(1) {
    margin-left: 0;
}

.service .icon {
    font-size: 37px;
    color: #3dd2ae;
}

.service .sub-fourth {
    padding-top: 22px;
}

.service .sub-fourth:before {
    counter-increment: section;
    content:  "0" counters(section, "") " ";
    color: #3a4d60;
}

.service .content-m {
    padding-top: 16px;
    width: 220px;
    line-height: 22px;
}

/* connectivity container */

.connectivity {
    min-height: 476px;
}


.connect-text i {
    float: left;
    font-size: 34px;
}

.connect-text {
    width: 390px;
    padding-top: 78px;;
    color: #2b303b;
    float:left;
}

.connect-text .sub-title {
    padding-top: 9px;
    line-height: 25px;
    color: #696f7c;
}
.connect-text .sub-third {
    padding-top: 35px;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.connect-img-box {
    min-width: 50vw;
    height: 476px;
    margin-left: 48vw;
}
.connect-image {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(../img/conectivity-image.png) 50% 50% no-repeat;
    background-size: cover;
}
.connectivity .content-m {
    padding-top: 25px;
    letter-spacing: -0.1px;
    line-height: 24px;
}

/* news section */


.latest-news {
    position: relative;
    height: 390px;
}

.photo-box {
    height: 390px;
    width: 36vw;
    margin-left: 12vw;
    float: left;
}

.news-img {
    height: 100%;
    width: 100%;
    margin: 0;
    background: url(../img/your-design.png) 50% 50% no-repeat;
    background-size: cover;
}
.news {
    min-width: 50.6vw;
    height: 390px;
    margin-left: 48vw;
    background: #835fa8;
}

.news-text {
    padding: 64px 0 0 48px;
}

.news-img img{
    height: 100%;
}

.date {
    margin-bottom: 2px;
    font-size: 10px;
    font-style: italic;
}
.author{
    display: inline-block;
    padding-top: 41px;
    font-size: 13px;
}
.link {
    position: absolute;
    display: block;
    bottom: 0;
    height: 25px;
    width: 86px;
    line-height: 25px;
    text-align: center;
    background: #232323;
    font-size: 10px;
    text-decoration: none;
    color: #fff;
}
.news .content {
    width: 422px;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
    line-height: 37px;
}
img.author {
    height: 50px;
    padding: 1px 0 0 4px;
    margin-right: 10px;
}

/* comments container */


.comments {
    position: relative;
    height: 250px;
    width: 36vw;
    margin-left: 12vw;
    background: #fff;
    color: #83969f;
}

.comment-text {
    padding: 36px 0 0 2.6vw;
}

.comment-title {
    width: 379px;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 24px;
    color: #232323;
}

.comments .content-m {
    width: 417px;
    padding-top: 11px;
    line-height: 21px;
    letter-spacing: -0.1px;
}

.counter {
    position: absolute;
    float: left;
    bottom: 1px;
    font-size: 25px;
    font-weight: 300;
}

.comment {
    position: absolute;
    top: 10px;
    left: 55px;
    font-size: 10px;
    font-weight: 600;
}

.comment-img {
    margin: -159px 0 0 36vw;
    float: left;
    height: 256px;
    width: 500px;
    background-image: url(../img/triangle.png), url(../img/your-design-smaller.png);
    background-position: -8px 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
}

/* about section */

.all-about {
    clear: both;
    position: relative;
    height: 640px;
    width: 100%;
    background: url(../img/study.png) 50% 50% no-repeat;
    background-size: cover;
}
.about-bg {
    height: 391px;
    width: 48vw;
    background: #835fa8;
}

.about-content {
    font-size: 27px;
    font-weight: 300;
    line-height: 37px;
    position: absolute;
    top: 70px;
    width: 348px;
}

.about-content .content {
    padding-bottom: 19px;
    font-style: italic;
}

.author-about {
    display: inline-block;
    font-size: 13px;
}

img.author-about {
    height: 50px;
    padding: 6px 11px 0px 2px;
}

/* footer */

footer {
    min-height: 480px;
    background: #1a2124;
}

.get-in-touch {
    padding: 82px 0 0;
    font-size: 11px;
}

.touch {
    width: 480px;
    float: left;
    }

.touch-title {
    font-weight: 600;
}

.touch-content{
    padding-top: 16px;
    letter-spacing: -0.03px;
    line-height: 20px;
}

.newsletter {
    float: left;
    width: 402px;
    margin-left: 110px;
}

.newsletter form {
    padding-top: 21px;
}

.email {
    display: block;
    float: left;
    width: 334px;
    height: 44px;
    margin: 1px 0px 0 0;
}

.send {
    width: 59px;
    height: 50px;
    margin-top: 1px;
    font-size: 33px;
    border: none;
    background-color: #835fa8;
}

.newsletter-content {
    width: 280px;
    padding: 11px 0 0;
    font-size: 10px;
    line-height: 15px;
}

.site-map {
    clear: both;
    padding-top: 20px;
}
.map {
    display: inline-block;
    width: 165px;
}
.map ul {
    list-style-type: none;
    padding: 14px 0;
    margin: 0;
}

.map li {
    font-size: 11px;
    line-height: 20px;
}

.map-title {
    font-size: 11px;
    font-weight: 600;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
