/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600&subset=latin,latin-ext);

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* typography */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background: #f4f8fb;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

p {
    margin: 0 0 20px 0;
    font-weight: 400;
}
.sub-title {
    font-size: 34px;

}

.sub-third {
    font-size: 25px;
}
.content-m {
    font-size: 12px;
}

.content-l {
    font-size: 14px;
}
.wrapper {
    width: 1250px;
    margin: 0 auto;
}

/* first screen */

.mast-header {
    height: 107vh;
    background: url(../img/building-background.png);
    background-size: cover;
    background-position: top left;
}

.logo {
    float: left;
    padding: 40px 0 0 21px;
}

.inputs {
    float: right;
    padding: 50px 0 0 0;
}

.tools {
    position: relative;
    float: left;
    color: #868e99;
}

.tools .icon-search {
    font-size: 13px;
    line-height: 37px;
}
.tools input {
    border: none;
    border-radius: 20px;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.search {
    width: 175px;
    height: 37px;
    padding: 0px 20px 0 24px;
    font-size: 12px;
    background-color: #343c48;
}

.search-btn {
    position: absolute;
    padding: 1px 0;
    right: 12px;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
}

.buy {
    display: inline-block;
    width: 97px;
    height: 37px;
    margin-right: 9px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    background-color: #835fa8;
}

.hamburger {
    padding-top: 7px;
    float: left;
}

.menu {
    font-size: 17px;
    border: none;
    background-color: transparent;
}
.title {
    margin-left: 500px;
    clear :both;
}

.title h1 {
    width: 533px;
    padding-top: 25vh;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 76px;
}

.title p {
    width: 476px;
    padding: 5px 0 0 3px;
    font-size: 15px;
    letter-spacing: 0.09px;
    line-height: 25px;
}

/* second screen */

.hero {
    position: relative;
    height: 425px;
    background: #835fa8;
}
.hero-cont {
    padding: 80px 0 0 128px;
}
.hero .sub-title {
    letter-spacing: -0.2px;
}

.hero .content-l {
    width: 377px;
    padding-left: 2px;
    letter-spacing: -0.24px;
    line-height: 22px;
}
.see-more {
    display: block;
    padding: 12px;
    margin-top: 27px;
    width: 116px;
    height: 15px;
    background-color: #3dd2ae;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}
.phones {
    height: 494px;
    width: 560px;
    position: absolute;
    top: -69px;
    left: 43.7%;

}
.smaller-phone {
    display: block;
    position: absolute;
    height: 227px;
    width: 228px;
    background-image: url(../img/smaller-phone.png);
    background-repeat: no-repeat;
    bottom: 0;
}

.bigger-phone {
    display: block;
    position: absolute;
    height: 104.3%;
    width: 342px;
    background-image: url(../img/bigger-phone.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 208px;
}

/* screen three */

.features {
    min-height: 494px;
    background: #f4f8fb;
}

.features-wrap {
    width: 1000px;
    padding-top: 65px;
    margin: 0 auto;
}

.feature {
    display: inline-block;
    width: 328px;
}

.feature:nth-of-type(3) {
    margin-left: -4px;
}

.feature .sub-third {
    letter-spacing: 0.2px;
    color: #2b303b;
}

.feature .sub-fourth {
    width: 290px;
    margin-top: 23px;
    padding-left: 3px;
    letter-spacing: 0.4px;
    line-height: 25px;
    color: #696f7c;
}

.feature .content-m {
    width: 296px;
    margin-top: 25px;
    padding-left: 2px;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #44484f;
}

.feature .see-more {
    margin-left: 4px;
}

/* screen four */

.for-humans {
    position: relative;
    background-color: #232831;

}
.for-humans .shape {
    position: absolute;
    top: -27px;
    left: 45%;
    height: 53px;
    width: 101px;
    background-image: url(../img/screen2-shape.png);
}

.for-humans .sub-title {
    width: 360px;
    padding-top: 78px;
    margin: 0 auto;
}

.for-humans .content-l {
    width: 952px;
    padding-top: 23px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.02px;
}
.design-btn {
    width: 1220px;
    padding-top: 75px;
    margin:0 auto;
    background: transparent;
    border: none;
}

/* screen five */

.services {
    min-height: 451px;
    background-color: #2b303b;
}

.serv-wrap {
    width: 1037px;
    padding-top: 64px;
    margin: 0 auto;
    list-style-type: none;
    counter-reset: section;
}

.service {
    float: left;
    width: 232px;
    margin-left: 15px;
}

.service:nth-of-type(1) {
    margin-left: 0;
}

.service .icon {
    font-size: 37px;
    color: #3dd2ae;
}

.service .sub-fourth {
    padding-top: 22px;


}

.service .sub-fourth:before {
    counter-increment: section;
    content:  "0" counters(section, "") " ";
    color: #3a4d60;
}

.service .content-m {
    padding-top: 5px;
    width: 219px;
    line-height: 21px;
}

/* screen six */

.connectivity {
    height: 476px;
}

.connect-text i {
    float: left;
    font-size: 34px;
}

.connect-text {
    width: 515px;
    padding-top: 85px;
    color: #2b303b;
}

.connect-text .sub-third {

    padding-top: 40px;
}
.connectivity .image {
    float: right;
    display: block;
    height: 100%;
    width: 690px;
    background: url(../img/conectivity-image.png) 50% 50% no-repeat;
}

.connectivity .content-m {
    padding-top: 40px;
    line-height: 24px;
}
.latest-news {
    position: relative;
    height: 390px;
}
.news {

    padding-top: 65px;
    background: #835fa8;
    width: 95.1vw;
    height: 325px;
}
.news-img {
    display: block;
    float: left;
    width: 490px;
    height: 390px;
    margin-right: 50px;
    background: url(../img/your-design.png);
}
.date {

    font-size: 10px;
    font-style: italic;
}
.author{

    display: inline-block;
}
.link {
    display: block;
    position: absolute;
    bottom: 0;
    left: 40%;
    padding: 10px 20px;
    text-decoration: none;
    background: #232323;
    color: #fff;
    font-size: 10px;
}
.news .content {
    width: 1009px;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
    line-height: 37px;
}
img.author {
    margin-right: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
